<app-toolbar></app-toolbar>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="unitValue">
    <th mat-header-cell *matHeaderCellDef> Valor Unitário </th>
    <td mat-cell *matCellDef="let element"> {{element.valorUnidade}} </td>
  </ng-container>

  <ng-container matColumnDef="packageValue">
    <th mat-header-cell *matHeaderCellDef> Valor do Pacote</th>
    <td mat-cell *matCellDef="let element"> {{element.valorPacote}} </td>
  </ng-container>

  <ng-container matColumnDef="promotionLink">
    <th mat-header-cell *matHeaderCellDef> Link da Promoção </th>
    <td mat-cell *matCellDef="let element"> {{element.promoLink}} </td>
  </ng-container>

  <ng-container matColumnDef="productId">
    <th mat-header-cell *matHeaderCellDef> Nome do Produto </th>
    <td mat-cell *matCellDef="let element"> {{element.modelo.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="sizeId">
    <th mat-header-cell *matHeaderCellDef>Tamanho </th>
    <td mat-cell *matCellDef="let element"> {{element.tamanho.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="storeId">
    <th mat-header-cell *matHeaderCellDef> Loja </th>
    <td mat-cell *matCellDef="let element"> {{element.loja.nome}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>