.login-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-container > * {
    width: 50%;
    margin-left: 25%;
  }

  .card-size{
      margin-top: 12%;
      margin-left: 25%;
      width: 50%;
  }