<app-toolbar></app-toolbar>

  <mat-card>
      <mat-card-title>Cadastro de Promoções</mat-card-title>
      <mat-card-content>
          <form class="product-container">
              <mat-form-field class="example-full-width">
                <input name="productValueUnit" matInput placeholder="Valor unitário do produto" [(ngModel)]="productValueUnit">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input name="productValuePackage" matInput placeholder="Valor do pacote do produto" [(ngModel)]="productValuePackage">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input name="promotionLink" matInput placeholder="Link da promoção" [(ngModel)]="promotionLink">
              </mat-form-field>
             
              <mat-form-field>
                <mat-select name="product" placeholder="Modelo" [(ngModel)]="product" ngDefaultControl>
                  <mat-option  *ngFor="let product of products" [value]="product.id" >
                    {{product.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select name="productSize" placeholder="Tamanho" [(ngModel)]="productSize" ngDefaultControl>
                  <mat-option  *ngFor="let size of sizes" [value]="size.id" >
                    {{size.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select name="productStore" placeholder="Loja" [(ngModel)]="productStore" ngDefaultControl>
                  <mat-option  *ngFor="let store of stores" [value]="store.id" >
                    {{store.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="register()">Cadastrar</button>
            </form> 
      </mat-card-content>
      
</mat-card>