<app-toolbar></app-toolbar>

  <mat-card>
      <mat-card-title>Cadastro de Produtos</mat-card-title>
      <mat-card-content>
          <form class="product-container">
              <mat-form-field class="example-full-width">
                <input name="productName" matInput placeholder="Nome do Produto" [(ngModel)]="productName">
              </mat-form-field>
             
              <mat-form-field>
                <mat-select name="productBrand" placeholder="Marca" [(ngModel)]="productBrand" ngDefaultControl>
                  <mat-option  *ngFor="let brand of brands" [value]="brand" >
                    {{brand.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input name="productUrl" matInput placeholder="Foto do Produto" [(ngModel)]="url">
              </mat-form-field>
              <!-- <button class="button-margin" mat-raised-button (click)="openInput()">
                  Selecione a foto do produto
              </button>
              <input id="fileInput" hidden type="file" (change)="onSelectFile($event)" > -->
              <button mat-raised-button color="primary" (click)="register()">Cadastrar</button>
            </form>
            <img *ngIf='url' class="img-container" [src]="url" height="300" width="300"> 
      </mat-card-content>
      <mat-spinner *ngIf='showSpinner'></mat-spinner>
</mat-card>